.error_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 80vh;
}

.error_content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
