.nav_bar {
  display: flex;
  justify-content: space-between;
  margin: 0 0.3rem;
  border-bottom: 1px solid black;
}

.logo_section {
  display: flex;
}

.links {
  display: flex;
  gap: 1rem;
  font-size: 2rem;
  align-self: center;
}
