.nav_bar {
  display: flex;
  position: relative;
  justify-content: space-between;
  padding: 0 1rem;
  border-bottom: 0.5px solid rgb(113, 112, 112);
  height: 4rem;
}

.logo_section {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.link {
  text-decoration: none;
  color: black;
}

.link:hover {
  text-decoration: underline;
  color: #fc864f;
}

.links {
  display: flex;
  align-items: center;
  gap: 2rem;
  font-size: 2rem;
  align-self: center;
  margin-right: 1.3rem;
}

.quantity {
  position: absolute;
  padding: 0.1rem 0.4rem;
  font-size: 0.7rem;
  font-weight: bold;
  background-color: rgba(250, 128, 114, 0.466);
  border-radius: 50%;
  right: 1.2rem;
  bottom: 1.8rem;
}

.icon_image {
  height: 3rem;
  width: auto;
}

@media (width <= 700px) {
  .nav_bar {
    font-size: x-small;
  }
  .link {
    font-size: smaller;
  }
}

@media (width <= 500px) {
  .link {
    font-size: 1rem;
  }
  .nav_bar {
    margin: 0;
    padding: 0;
  }
  .quantity {
    right: 0rem;
  }
}
