.home_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 80vh;
}

.home_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.title {
  text-align: center;
}

.link {
  text-decoration: none;
  color: white;
}

.link_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8rem;
  height: 3rem;
  background-color: #ff421b;
  border-radius: 50px;
}

.link_container:hover {
  background-color: #fc864f;
}

@media (width <= 750px) {
  .link {
    font-size: small;
  }
  .title {
    font-size: medium;
  }
}
