.cartItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7rem;
  gap: 2rem;
  max-width: 50rem;
  border: 0.5px solid gray;
  border-radius: 10px;
  padding: 1rem;
}

.img_container {
  flex-basis: 5rem;
}

.fineTunning {
  composes: fine_tune_area from "../shop-item/ShopItem.module.css";
  min-width: 10rem;
  width: 10rem;
  height: 2.5rem;
}

.image {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.fine_tune_btn {
  padding: 1rem 1rem;
  border: none;
  background-color: transparent;
}

.title {
  flex-grow: 1;
}

@media (width <= 700px) {
  .cartItem {
    display: flex;
    flex-direction: column;
    height: fit-content;
  }
  .img_container {
    flex-basis: 3rem;
  }
}
